<p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>

<p-dialog [header]=[tituloNovoEvento] [maximizable]="true" modal="true" [(visible)]="displayDialogNovoEvento"
  [contentStyle]="{'overflow':'visible'}">
  <rn-criarevento></rn-criarevento>
  <p-footer>
    <button pButton type="button" (click)="cancelarNovoEvento()" label="Cancelar" icon="fa fa-ban"
      class="ui-button-raised ui-button-secondary"></button>
    <button pButton type="button" (click)="salvarNovoEvento()" label="Salvar" icon="fa fa-save"
      class="ui-button-raised"></button>
  </p-footer>
</p-dialog>