<input matInput type="hidden" [(ngModel)]="hiddenDatePicker" [matDatepicker]="picker" (dateInput)="onDate($event)" />
<mat-datepicker #picker></mat-datepicker>


<full-calendar #fc [events]="events" [options]="options"></full-calendar>

<!--menu de contexto-->
<div style="visibility: hidden; position: fixed" [style.left]="contextMenuPosition.x"
  [style.top]="contextMenuPosition.y" [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item (click)="editarAgendamento()">
      <mat-icon>edit</mat-icon>
      <span>Editar agendamento</span>
    </button>
    <button mat-menu-item (click)="fecharFaturarContexto()">
      <mat-icon>payments</mat-icon>
      <span>Fechar e faturar</span>
    </button>
    <button mat-menu-item (click)="atualizarNaoCompareceu()">
      <mat-icon>clear</mat-icon>
      <span>Não compareceu</span>
    </button>
    <button mat-menu-item (click)="atualizarEmAtendimento()">
      <mat-icon>work_outline</mat-icon>
      <span>Em atendimento</span>
    </button>
    <button mat-menu-item (click)="confirmaExcluir()">
      <mat-icon>delete</mat-icon>
      <span>Excluir agendamento</span>
    </button>
  </ng-template>
</mat-menu>

<!--dialogo de eventos-->
<p-dialog [header]=[tituloNovoEvento] [maximizable]="true" modal="true" [(visible)]="displayDialogNovoEvento"
  [contentStyle]="{'overflow':'visible'}">
  <rn-criarevento></rn-criarevento>
  <p-footer>

    <button pButton type="button" (click)="naoCompareceu()" label="Não compareceu"
      title="Coloca o status do agendamento para 'Não compareceu'" icon="fa fa-times"
      class="p-button-raised ui-button-gray" *ngIf="clicouEvento"></button>

    <button pButton type="button" (click)="emAtendimento()" label="Em atendimento" icon="fa fa-briefcase"
      class="p-button-raised ui-button-purple" title="Coloca o status do agendamento para 'Em atendimento'"
      *ngIf="clicouEvento"></button>

    <button pButton type="button" (click)="fecharFaturar()" label="Fechar e faturar"
      title="Solicita informações de pagamento e coloca o agendamento no status 'Faturado'" icon="fa fa-money"
      class="p-button-raised ui-button-green" *ngIf="clicouEvento"></button>

    <button pButton type="button" (click)="cancelarNovoEvento()" title="Fecha sem alterações" label="Cancelar"
      icon="fa fa-ban" class="p-button-raised p-button-secondary"></button>
    <button pButton type="button" (click)="salvarNovoEvento()" title="Salva as alterações do agendamento e fecha"
      label="Salvar" icon="fa fa-save" class="p-button-raised"></button>
  </p-footer>
</p-dialog>