<p-blockUI [blocked]="blocked"></p-blockUI>

<p-menubar [model]="items" *ngIf="loginGuard.isAuthenticated()">
    <div>
        <button pButton type="button" icon="fa fa-sign-out" (click)="sair()" label="Sair"></button>
    </div>
</p-menubar>
<br />
<p-toast></p-toast>

<p-confirmDialog #cd header="Confirme" icon="pi pi-exclamation-triangle">
    <p-footer>
        <button type="button" pButton icon="pi pi-times" label="Não" (click)="cd.reject()"></button>
        <button type="button" pButton icon="pi pi-check" label="Sim" (click)="cd.accept()"></button>
    </p-footer>
</p-confirmDialog>

<router-outlet></router-outlet>