<table>
  <tr>
    <td><label>Cliente*: </label></td>
    <td>
      <p-autoComplete size="53" [(ngModel)]="selectedCliente" (completeMethod)="searchCliente($event)"
        [suggestions]="resultsCliente" field="nome">
      </p-autoComplete>&nbsp;
      <button pButton type="button" (click)="abrirNovoUsuario()" label="Novo" icon="fa fa-plus"
        class="ui-button-raised"></button>
    </td>
  </tr>
  <tr>
    <td><label>Profissional: </label></td>
    <td>
      <p-dropdown #proDD placeholder="Selecione" [options]="profissionais" [(ngModel)]="selectedProfissional"
        [style]="{'width':'350px'}">
      </p-dropdown>
    </td>
  </tr>
  <tr>
    <td><label>Serviço*: </label></td>
    <td>
      <p-multiSelect defaultLabel="Escolha" selectedItemsLabel="{0} items selecionados" [options]="servicos"
        [(ngModel)]="selectedServicos" [panelStyle]="{minWidth:'12em'}">
      </p-multiSelect>
    </td>
  </tr>
  <tr>
    <td><label>Data*: </label></td>
    <td>
      <p-calendar [(ngModel)]="data" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      <label>&nbsp;&nbsp;&nbsp;Hora*: </label>
      <input type="time" [(ngModel)]="hora" pInputText />
    </td>
  </tr>
  <tr>
    <td><label>Valor*: </label></td>
    <td>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">R$</span>
          <input type="number" [(ngModel)]="valor" min="0.00" step="0.50" pInputText />
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td><label>Duração*: </label></td>
    <td>
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
          <input type="number" [(ngModel)]="duracao" step="30" pInputText />
          <span class="ui-inputgroup-addon">min.</span>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td><label>Observações: </label></td>
    <td>
      <p-editor [(ngModel)]="observacoes" [style]="{'height':'220px', 'width':'550px'}">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Negrito"></button>
            <button class="ql-italic" aria-label="Itálico"></button>
            <button class="ql-underline" aria-label="Sublinhado"></button>
          </span>
        </p-header>
      </p-editor>
    </td>
  </tr>
</table>

<p-dialog header="Novo Usuário" [maximizable]="true" [(visible)]="displayDialogNovoUsuario"
  [contentStyle]="{'overflow':'visible'}">
  <rn-criarusuario></rn-criarusuario>
  <p-footer>
    <button pButton (click)="cancelarNovoUsuario()" type="button" label="Cancelar" icon="fa fa-ban"
      class="ui-button-raised ui-button-secondary"></button>
    <button pButton (click)="salvarNovoUsuario()" type="button" label="Salvar" icon="fa fa-save" class="ui-button-raised"></button>
  </p-footer>
</p-dialog>