<table>
  <tr>
    <td><label>Cliente*: </label></td>
    <td>
      <p-autoComplete [style]="{'width':'350px','overflow':'visible'}" [(ngModel)]="selectedCliente"
        (completeMethod)="searchCliente($event)" [suggestions]="resultsCliente" field="nome">
      </p-autoComplete>&nbsp;
      <button pButton type="button" label="Novo" icon="fa fa-plus" class="ui-button-raised"></button>
    </td>
  </tr>
  <tr>
    <td><label>Profissional: </label></td>
    <td>
      <p-dropdown #proDD placeholder="Selecione" [options]="profissionais" [(ngModel)]="selectedProfissional">
      </p-dropdown>
    </td>
  </tr>
  <tr>
    <td><label>Serviço*: </label></td>
    <td>
      <p-multiSelect defaultLabel="Escolha" selectedItemsLabel="{0} items selecionados" [options]="servicos"
        [(ngModel)]="selectedServicos" [panelStyle]="{minWidth:'12em'}">
      </p-multiSelect>
    </td>
  </tr>
  <tr>
    <td><label>Data*: </label></td>
    <td>
      <p-calendar [(ngModel)]="data" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
      <label>&nbsp;&nbsp;&nbsp;Hora*: </label>
      <input type="time" [(ngModel)]="hora" pInputText />
    </td>
  </tr>
</table>

Data Hora Valor Duração

+ Serviço

Observação