<p-dialog #dserv header="Serviços" [(visible)]="displayDialogServicos" [modal]="true" [draggable]="false">
  <ng-template ngFor let-item [ngForOf]="servicos" let-i="index">
    {{item.label}}<br />
  </ng-template>
  <p-footer>
    <br />
    <button pButton type="button" label="Ok" icon="fa fa-check" class="p-button-raised"
      (click)="dserv.close()"></button>
  </p-footer>
</p-dialog>

<table>
  <tr>
    <td><label>Cliente*: </label></td>
    <td>
      <p-autoComplete size="53" [(ngModel)]="agendamento.cliente" (completeMethod)="searchCliente($event)"
        [suggestions]="resultsCliente" field="fone_nome" [forceSelection]="true">

        <ng-template let-cliente pTemplate="item">
          <div class="ui-helper-clearfix">
            <b>{{cliente.telefone}}</b> - {{cliente.nome}}
          </div>
        </ng-template>

      </p-autoComplete>&nbsp;
      <button pButton type="button" (click)="abrirNovoCliente()" label="Novo" icon="fa fa-plus"
        class="p-button-raised"></button>
    </td>
  </tr>
  <tr>
    <td><label>Profissional: </label></td>
    <td>
      <p-dropdown #proDD placeholder="Selecione" [options]="profissionais" [(ngModel)]="agendamento.profissional.id"
        [style]="{'width':'523px'}">
      </p-dropdown>
    </td>
  </tr>
  <tr>
    <td><label>Serviço*: </label></td>
    <td>
      <p-multiSelect (onChange)="atualizarPrecoAgendamento($event)" defaultLabel="Selecione"
        selectedItemsLabel="{0} items selecionados" [options]="servicos" [(ngModel)]="agendamento.servicos"
        [panelStyle]="{minWidth:'k'}" [style]="{'width':'523px'}">
      </p-multiSelect>&nbsp;
      <button pButton type="button" label="Ver" icon="fa fa-eye" class="p-button-raised"
        *ngIf="agendamento.servicos && agendamento.servicos.length > 0" (click)="verServicos()"></button>
    </td>
  </tr>
  <tr>
    <td><label>Data*: </label></td>
    <td>
      <p-calendar dateFormat="dd/mm/yy" [(ngModel)]="agendamento.dataInicio" [showIcon]="true" [showTime]="true">
      </p-calendar>
    </td>
  </tr>
  <tr>
    <td><label>Valor*: </label></td>
    <td>
      <div class="p-inputgroup" style="width: 260px;">
        <span class="p-inputgroup-addon">R$</span>
        <input currencyMask [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text"
          [(ngModel)]="agendamento.valor" pInputText />
      </div>
    </td>
  </tr>
  <tr>
    <td><label>Duração*: </label></td>
    <td>
      <p-inputNumber [(ngModel)]="agendamento.duracao" [min]="1" [max]="3600" [step]="5" [showButtons]="true"
        spinnerMode="vertical" spinnerMode="vertical"></p-inputNumber>
      <span *ngIf="agendamento.duracao">
        minutos -> {{agendamento.duracao / 60 | number}} hora(s)</span>
    </td>
  </tr>
  <tr>
    <td><label>Observações: </label></td>
    <td>
      <p-editor [(ngModel)]="agendamento.observacoes" [style]="{'height':'220px'}">
        <p-header>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Negrito"></button>
            <button class="ql-italic" aria-label="Itálico"></button>
            <button class="ql-underline" aria-label="Sublinhado"></button>
          </span>
        </p-header>
      </p-editor>
    </td>
  </tr>
</table>

<!-- {{getAgendamento()}} -->

<p-dialog header="Novo Cliente" [maximizable]="true" [(visible)]="displayDialogNovoCliente"
  [contentStyle]="{'overflow':'visible'}">
  <rn-criarcliente></rn-criarcliente>
  <p-footer>
    <button pButton (click)="cancelarNovoCliente()" type="button" label="Cancelar" icon="fa fa-ban"
      class="p-button-raised p-button-secondary"></button>
    <button pButton (click)="salvarNovoCliente()" type="button" label="Salvar" icon="fa fa-save"
      class="p-button-raised"></button>
  </p-footer>
</p-dialog>

<p-dialog header="Faturamento" [modal]="true" [draggable]="false" [(visible)]="displayDialogFaturamento"
  [contentStyle]="{'overflow':'visible'}">
  <table>
    <tr>
      <td><label>Valor do(s) serviço(s) :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">R$</span>
          <input [(ngModel)]="agendamento.valor" currencyMask
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText
            readonly disabled />
        </div>
      </td>
    </tr>
    <tr>
      <td>+ <i class="fa fa-money"></i>&nbsp;&nbsp;<label>Dinheiro :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">R$</span>
          <input [(ngModel)]="faturamento.dinheiro" currencyMask
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText />
          <button pButton type="button" icon="fa fa-arrow-left" class="ui-button"
            title="Receber tudo nesta forma de pagamento" (click)="tudoDinheiro()"></button>
        </div>
      </td>
    </tr>
    <tr>
      <td>+ <i class="fa fa-credit-card"></i>&nbsp;&nbsp;<label>Débito :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">R$</span>
          <input [(ngModel)]="faturamento.debito" currencyMask
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText />
          <button pButton type="button" icon="fa fa-arrow-left" class="ui-button"
            title="Receber tudo nesta forma de pagamento" (click)="tudoDebito()"></button>
        </div>
      </td>
    </tr>
    <tr>
      <td>+ <i class="fa fa-credit-card-alt"></i>&nbsp;&nbsp;<label>Crédito :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">R$</span>
          <input [(ngModel)]="faturamento.credito" currencyMask
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText />
          <button pButton type="button" icon="fa fa-arrow-left" class="ui-button"
            title="Receber tudo nesta forma de pagamento" (click)="tudoCredito()"></button>
        </div>
      </td>
    </tr>
    <tr>
      <td><label>Tipo do Desconto*: </label></td>
      <td align="center">
        <p-radioButton name="tipoDesconto" [(ngModel)]="faturamento.tipoDesconto" value="PERCENTUAL">
        </p-radioButton>&nbsp;
        (%)
        &nbsp;&nbsp;
        <p-radioButton name="tipoDesconto" [(ngModel)]="faturamento.tipoDesconto" value="REAL"></p-radioButton>
        &nbsp;(R$)
      </td>
    </tr>
    <tr>
      <td><label>- Desconto :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">
            <span *ngIf="faturamento.tipoDesconto == 'PERCENTUAL'">%</span>
            <span *ngIf="faturamento.tipoDesconto == 'REAL'">R$</span>
          </span>
          <input currencyMask [(ngModel)]="faturamento.desconto"
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText />
        </div>
      </td>
    </tr>
    <tr>
      <td><label>= Total recebido :</label></td>
      <td>
        <div class="p-inputgroup" style="width: 260px;">
          <span class="p-inputgroup-addon">R$</span>
          <input #valorRecebido currencyMask [value]="getValorRecebido()"
            [options]="{ align :'left', prefix : '', thousands: '.', decimal: ',' }" type="text" size="10" pInputText
            readonly [style.color]="valorRecebido.value.includes('-') ? 'red' : 'blue'" />
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <font size="1">= (dinheiro + débito + crédito) - desconto</font>
      </td>
    </tr>
  </table>

  <p-footer>
    <button pButton (click)="cancelarFaturamento()" type="button" label="Cancelar" icon="fa fa-ban"
      class="p-button-raised p-button-secondary"></button>
    <button pButton (click)="faturar()" type="button" label="Faturar" icon="fa fa-money"
      class="p-button-raised ui-button-green"></button>
  </p-footer>
</p-dialog>