<table>
    <tr>
        <td><label>Nome*: </label></td>
        <td>
            <input type="text" [(ngModel)]="cliente.nome" size="36" pInputText />
        </td>
    </tr>
    <tr>
        <td><label>Telefone*: </label></td>
        <td>
            <p-inputMask [(ngModel)]="cliente.telefone" size="12" mask="(99) 99999-9999"></p-inputMask>
            &nbsp;&nbsp; <label> CPF: </label>
            <p-inputMask [(ngModel)]="cliente.cpf" size="14" mask="999.999.999-99"></p-inputMask>
        </td>
    </tr>
    <tr>
        <td><label>E-mail: </label></td>
        <td>
            <input type="text" [(ngModel)]="cliente.email" size="36" pInputText />
        </td>
    </tr>
    <tr>
        <td><label>Sexo: </label></td>
        <td>
            F <p-radioButton name="sexo" value="F" [(ngModel)]="cliente.sexo"></p-radioButton>
            M <p-radioButton name="sexo" value="M" [(ngModel)]="cliente.sexo"></p-radioButton>

            &nbsp;&nbsp; <label>Aniversário: </label>
            <p-inputMask [(ngModel)]="cliente.diaMesAniversario" size="3" mask="99/99"></p-inputMask>
        </td>
    </tr>
    <tr>
        <td><label>Observações: </label></td>
        <td>
            <p-editor [(ngModel)]="cliente.observacoes" [style]="{'height':'180px', 'width':'350px'}">
                <p-header>
                    <span class="ql-formats">
                        <button class="ql-bold" aria-label="Negrito"></button>
                        <button class="ql-italic" aria-label="Itálico"></button>
                        <button class="ql-underline" aria-label="Sublinhado"></button>
                    </span>
                </p-header>
            </p-editor>
        </td>
    </tr>
</table>